-- =====================================================
-- Индексы для оптимизации запросов
-- =====================================================

-- Регионы
CREATE INDEX idx_region_strana_id ON region(strana_id);

-- Города
CREATE INDEX idx_gorod_region_id ON gorod(region_id);

-- Пользователи
CREATE INDEX idx_polzovatel_email   ON polzovatel(email);
CREATE INDEX idx_polzovatel_telefon ON polzovatel(telefon);

-- Роли пользователей
CREATE INDEX idx_rol_polzovatelya_polzovatel ON rol_polzovatelya(polzovatel_id);
CREATE INDEX idx_rol_polzovatelya_tip_roli   ON rol_polzovatelya(tip_roli_id);

-- Карточки квартир
CREATE INDEX idx_kartochka_arendodatel ON kartochka_kvartiry(arendodatel_id);
CREATE INDEX idx_kartochka_gorod       ON kartochka_kvartiry(gorod_id);
CREATE INDEX idx_kartochka_tsena       ON kartochka_kvartiry(tsena);
CREATE INDEX idx_kartochka_komnat      ON kartochka_kvartiry(komnat);

-- Фото квартир
CREATE INDEX idx_photo_kvartiry ON photo_kvartiry(kartochka_kvartiry_id);

-- Бронирования
CREATE INDEX idx_bronirovanie_arendator ON bronirovaniye(arendator_polzovatel_id);
CREATE INDEX idx_bronirovanie_kvartira  ON bronirovaniye(kartochka_kvartiry_id);
CREATE INDEX idx_bronirovanie_dates     ON bronirovaniye(data_zayezda, data_vyyezda);
CREATE INDEX idx_bronirovanie_status    ON bronirovaniye(status_id);

-- Предоплата
CREATE INDEX idx_predoplata_bronirovanie ON predoplata(bronirovaniye_id);
CREATE INDEX idx_predoplata_status       ON predoplata(status_predoplaty_id);

-- Отзывы
CREATE INDEX idx_otzivy_bronirovanie ON otzivy(bronirovaniye_id);
CREATE INDEX idx_otzivy_reyting      ON otzivy(reyting_klassifikator_id);
CREATE INDEX idx_otzivy_moderator    ON otzivy(moderator_polzovatel_id);

-- Запросы в поддержку
CREATE INDEX idx_zaprosi_polzovatel ON zaprosi_podderzhki(polzovatel_id);
CREATE INDEX idx_zaprosi_data       ON zaprosi_podderzhki(data_podachi);
CREATE INDEX idx_zaprosi_sluzhba    ON zaprosi_podderzhki(sluzhba_podderzhki_id);

-- Аватары
CREATE INDEX idx_avatary_polzovatel ON avatary_polzovatelya(polzovatel_id);

-- Избранное
CREATE INDEX idx_izbrannoe_arendator ON izbrannoe(arendator_polzovatel_id);
CREATE INDEX idx_izbrannoe_kvartira  ON izbrannoe(kartochka_kvartiry_id);
CREATE INDEX idx_izbrannoe_data      ON izbrannoe(data_dobavleniya);