-- =====================================================
-- Создание доменов (пользовательских типов)
-- =====================================================
DROP DOMAIN IF EXISTS positive_integer CASCADE;
DROP DOMAIN IF EXISTS phone_number     CASCADE;
DROP DOMAIN IF EXISTS email_address    CASCADE;

CREATE DOMAIN positive_integer AS INTEGER CHECK (VALUE > 0);
CREATE DOMAIN phone_number     AS VARCHAR(20) CHECK (VALUE ~ '^\+7[0-9]{10}$');
CREATE DOMAIN email_address    AS VARCHAR(50) CHECK (VALUE ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$');

-- =====================================================
-- Создание таблиц
-- =====================================================

-- 1. СТРАНЫ
DROP TABLE IF EXISTS strana CASCADE;
CREATE TABLE strana (
    id               SERIAL PRIMARY KEY,
    nazvanie_strany  VARCHAR(100) NOT NULL UNIQUE
);

-- 2. РЕГИОНЫ
DROP TABLE IF EXISTS region CASCADE;
CREATE TABLE region (
    id               SERIAL PRIMARY KEY,
    strana_id        INTEGER NOT NULL REFERENCES strana(id) ON DELETE CASCADE,
    nazvanie_regiona VARCHAR(200) NOT NULL,
    UNIQUE (strana_id, nazvanie_regiona)
);

-- 3. ГОРОДА
DROP TABLE IF EXISTS gorod CASCADE;
CREATE TABLE gorod (
    id              SERIAL PRIMARY KEY,
    region_id       INTEGER NOT NULL REFERENCES region(id) ON DELETE CASCADE,
    nazvanie_goroda VARCHAR(200) NOT NULL,
    UNIQUE (region_id, nazvanie_goroda)
);

-- 4. Связь городов со странами
DROP TABLE IF EXISTS gorodstrana CASCADE;
CREATE TABLE gorodstrana (
    gorod_id  INTEGER NOT NULL REFERENCES gorod(id)  ON DELETE CASCADE,
    strana_id INTEGER NOT NULL REFERENCES strana(id) ON DELETE CASCADE,
    PRIMARY KEY (gorod_id, strana_id)
);

-- 5. Типы ролей
DROP TABLE IF EXISTS tip_roli CASCADE;
CREATE TABLE tip_roli (
    id            SERIAL PRIMARY KEY,
    nazvanie_roli VARCHAR(50) NOT NULL UNIQUE,
    opisanie      TEXT
);

-- 6. Объекты БД для прав доступа
DROP TABLE IF EXISTS object_bd CASCADE;
CREATE TABLE object_bd (
    id                SERIAL PRIMARY KEY,
    nazvanie_tablitsy VARCHAR(50) NOT NULL,
    nazvanie_atributa VARCHAR(50) NOT NULL,
    UNIQUE (nazvanie_tablitsy, nazvanie_atributa)
);

-- 7. Связь ролей и объектов
DROP TABLE IF EXISTS roli_obekty CASCADE;
CREATE TABLE roli_obekty (
    tip_roli_id   INTEGER NOT NULL REFERENCES tip_roli(id)   ON DELETE CASCADE,
    object_bd_id  INTEGER NOT NULL REFERENCES object_bd(id)  ON DELETE CASCADE,
    PRIMARY KEY (tip_roli_id, object_bd_id)
);

-- 8. ПОЛЬЗОВАТЕЛИ (БЕЗ ПОЛЯ photo)
DROP TABLE IF EXISTS polzovatel CASCADE;
CREATE TABLE polzovatel (
    id               SERIAL PRIMARY KEY,
    login            VARCHAR(20) NOT NULL UNIQUE,
    parol            VARCHAR(100) NOT NULL,
    email            email_address NOT NULL UNIQUE,
    telefon          phone_number NOT NULL UNIQUE,
    imya             VARCHAR(30) NOT NULL,
    familiya         VARCHAR(30) NOT NULL,
    data_rozhdeniya  DATE,
    created_at       TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- 9. Роли пользователей
DROP TABLE IF EXISTS rol_polzovatelya CASCADE;
CREATE TABLE rol_polzovatelya (
    id                SERIAL PRIMARY KEY,
    polzovatel_id     INTEGER NOT NULL REFERENCES polzovatel(id) ON DELETE CASCADE,
    tip_roli_id       INTEGER NOT NULL REFERENCES tip_roli(id)  ON DELETE CASCADE,
    data_naznacheniya TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    data_snyatiya     TIMESTAMP,
    CHECK (data_snyatiya IS NULL OR data_snyatiya > data_naznacheniya)
);

-- 10. АДМИНИСТРАТОР
DROP TABLE IF EXISTS administrator CASCADE;
CREATE TABLE administrator (
    polzovatel_id   INTEGER PRIMARY KEY REFERENCES polzovatel(id) ON DELETE CASCADE,
    posledniy_vhod  TIMESTAMP NOT NULL
);

-- 11. МОДЕРАТОР
DROP TABLE IF EXISTS moderator CASCADE;
CREATE TABLE moderator (
    polzovatel_id         INTEGER PRIMARY KEY REFERENCES polzovatel(id) ON DELETE CASCADE,
    data_naznacheniya     DATE NOT NULL DEFAULT CURRENT_DATE,
    posledniy_vhod        TIMESTAMP,
    kolichestvo_proverok  INTEGER NOT NULL DEFAULT 0 CHECK (kolichestvo_proverok >= 0)
);

-- 12. АРЕНДОДАТЕЛЬ
DROP TABLE IF EXISTS arendodatel CASCADE;
CREATE TABLE arendodatel (
    polzovatel_id           INTEGER PRIMARY KEY REFERENCES polzovatel(id) ON DELETE CASCADE,
    otchestvo               VARCHAR(30),
    kolichestvo_obyavleniy  INTEGER NOT NULL DEFAULT 0 CHECK (kolichestvo_obyavleniy >= 0)
);

-- 13. АРЕНДАТОР
DROP TABLE IF EXISTS arendator CASCADE;
CREATE TABLE arendator (
    polzovatel_id INTEGER PRIMARY KEY REFERENCES polzovatel(id) ON DELETE CASCADE,
    otchestvo     VARCHAR(30) 
);

-- 14. НАЛИЧИЕ ЖИВОТНЫХ (справочник)
DROP TABLE IF EXISTS nalichiye_zhivotnykh CASCADE;
CREATE TABLE nalichiye_zhivotnykh (
    id       SERIAL PRIMARY KEY,
    nazvanie VARCHAR(50) NOT NULL UNIQUE
);

-- 15. Связь арендаторов с животными
DROP TABLE IF EXISTS nalichiye_zhivotnykh_arendator CASCADE;
CREATE TABLE nalichiye_zhivotnykh_arendator (
    nalichiye_zhivotnykh_id INTEGER NOT NULL REFERENCES nalichiye_zhivotnykh(id) ON DELETE CASCADE,
    arendator_polzovatel_id INTEGER NOT NULL REFERENCES arendator(polzovatel_id) ON DELETE CASCADE,
    PRIMARY KEY (nalichiye_zhivotnykh_id, arendator_polzovatel_id)
);

-- 16. НАЛИЧИЕ ДЕТЕЙ (справочник)
DROP TABLE IF EXISTS nalichiye_detey CASCADE;
CREATE TABLE nalichiye_detey (
    id        SERIAL PRIMARY KEY,
    nalichiye VARCHAR(50) NOT NULL,
    opisanie  TEXT
);

-- 17. Связь арендаторов с детьми
DROP TABLE IF EXISTS arendator_nalichiye_detey CASCADE;
CREATE TABLE arendator_nalichiye_detey (
    arendator_polzovatel_id INTEGER NOT NULL REFERENCES arendator(polzovatel_id) ON DELETE CASCADE,
    nalichiye_detey_id      INTEGER NOT NULL REFERENCES nalichiye_detey(id)      ON DELETE CASCADE,
    PRIMARY KEY (arendator_polzovatel_id, nalichiye_detey_id)
);

-- 18. КАРТОЧКИ КВАРТИР
DROP TABLE IF EXISTS kartochka_kvartiry CASCADE;
CREATE TABLE kartochka_kvartiry (
    id                    SERIAL PRIMARY KEY,
    arendodatel_id        INTEGER NOT NULL REFERENCES arendodatel(polzovatel_id) ON DELETE CASCADE,
    gorod_id              INTEGER NOT NULL REFERENCES gorod(id) ON DELETE RESTRICT,
    opisaniye_kvartiry    TEXT,
    adres_kvartiry        TEXT NOT NULL,
    ploshad               INTEGER NOT NULL CHECK (ploshad > 0),
    tsena                 DECIMAL(10,2) NOT NULL CHECK (tsena >= 0),
    komnat                positive_integer NOT NULL,
    etazh                 positive_integer NOT NULL,
    etazhnost             positive_integer NOT NULL,
    remont                VARCHAR(50),
    mebel                 SMALLINT NOT NULL DEFAULT 0 CHECK (mebel IN (0, 1)),
    tehnika               SMALLINT NOT NULL DEFAULT 0 CHECK (tehnika IN (0, 1)),
    internet              SMALLINT NOT NULL DEFAULT 0 CHECK (internet IN (0, 1)),
    parkovka              SMALLINT NOT NULL DEFAULT 0 CHECK (parkovka IN (0, 1)),
    lift                  SMALLINT NOT NULL DEFAULT 0 CHECK (lift IN (0, 1)),
    balkon                SMALLINT NOT NULL DEFAULT 0 CHECK (balkon IN (0, 1)),
    zhivotnye_dopustimo   SMALLINT NOT NULL DEFAULT 0 CHECK (zhivotnye_dopustimo IN (0, 1)),
    deti_dopustimy        SMALLINT NOT NULL DEFAULT 1 CHECK (deti_dopustimy IN (0, 1)),
    kuriye_dopustimo      SMALLINT NOT NULL DEFAULT 0 CHECK (kuriye_dopustimo IN (0, 1)),
    min_srok_v_sutkah     positive_integer NOT NULL DEFAULT 1,
    zalog                 DECIMAL(10,2),
    CHECK (etazh <= etazhnost),
    UNIQUE (arendodatel_id, adres_kvartiry)
);

-- 19. ФОТО КВАРТИР
DROP TABLE IF EXISTS photo_kvartiry CASCADE;
CREATE TABLE photo_kvartiry (
    id                      SERIAL PRIMARY KEY,
    kartochka_kvartiry_id   INTEGER NOT NULL REFERENCES kartochka_kvartiry(id) ON DELETE CASCADE,
    url_photo               VARCHAR(500) NOT NULL,
    poryadok                INTEGER NOT NULL DEFAULT 0
);

-- 20. СТАТУСЫ БРОНИРОВАНИЙ
DROP TABLE IF EXISTS status_bronirovaniya CASCADE;
CREATE TABLE status_bronirovaniya (
    id          SERIAL PRIMARY KEY,
    nazvanie    VARCHAR(50) UNIQUE NOT NULL
);

-- 21. БРОНИРОВАНИЯ
DROP TABLE IF EXISTS bronirovaniye CASCADE;
CREATE TABLE bronirovaniye (
    id                      SERIAL PRIMARY KEY,
    arendator_polzovatel_id INTEGER NOT NULL REFERENCES arendator(polzovatel_id) ON DELETE CASCADE,
    kartochka_kvartiry_id   INTEGER NOT NULL REFERENCES kartochka_kvartiry(id)   ON DELETE CASCADE,
    data_zayezda            DATE NOT NULL,
    data_vyyezda            DATE NOT NULL,
    status_id               INTEGER NOT NULL REFERENCES status_bronirovaniya(id) DEFAULT 1,
    created_at              TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at              TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CHECK (data_vyyezda > data_zayezda)
);

-- 22. СТАТУС ПРЕДОПЛАТЫ (справочник)
DROP TABLE IF EXISTS status_predoplaty CASCADE;
CREATE TABLE status_predoplaty (
    id               SERIAL PRIMARY KEY,
    nazvanie_statusa VARCHAR(50) NOT NULL UNIQUE,
    opisanie         TEXT
);

-- 23. СПОСОБ ОПЛАТЫ (справочник)
DROP TABLE IF EXISTS sposob_oplaty CASCADE;
CREATE TABLE sposob_oplaty (
    id       SERIAL PRIMARY KEY,
    nazvanie VARCHAR(50) NOT NULL UNIQUE
);

-- 24. ПРЕДОПЛАТА
DROP TABLE IF EXISTS predoplata CASCADE;
CREATE TABLE predoplata (
    id                   SERIAL PRIMARY KEY,
    bronirovaniye_id     INTEGER NOT NULL UNIQUE REFERENCES bronirovaniye(id) ON DELETE CASCADE,
    status_predoplaty_id INTEGER NOT NULL REFERENCES status_predoplaty(id) ON DELETE RESTRICT,
    sposob_oplaty_id     INTEGER REFERENCES sposob_oplaty(id) ON DELETE RESTRICT,
    summa                DECIMAL(10,2) NOT NULL CHECK (summa >= 0),
    data_platezha        TIMESTAMP,
    nomer_transaktsii    VARCHAR(50) UNIQUE
);

-- 25. РЕЙТИНГ (справочник)
DROP TABLE IF EXISTS reyting_klassifikator CASCADE;
CREATE TABLE reyting_klassifikator (
    id       SERIAL PRIMARY KEY,
    otsenka  INTEGER NOT NULL UNIQUE CHECK (otsenka BETWEEN 1 AND 5),
    opisanie VARCHAR(100)
);

-- 26. ОТЗЫВЫ
DROP TABLE IF EXISTS otzivy CASCADE;
CREATE TABLE otzivy (
    id                       SERIAL PRIMARY KEY,
    moderator_polzovatel_id  INTEGER REFERENCES moderator(polzovatel_id) ON DELETE SET NULL,
    bronirovaniye_id         INTEGER NOT NULL UNIQUE REFERENCES bronirovaniye(id) ON DELETE CASCADE,
    reyting_klassifikator_id INTEGER NOT NULL REFERENCES reyting_klassifikator(id) ON DELETE RESTRICT,
    tekst_otzyva             TEXT NOT NULL,
    date                     TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    odobreno                 BIT NOT NULL DEFAULT B'0'
);

-- 27. СЛУЖБА ПОДДЕРЖКИ
DROP TABLE IF EXISTS sluzhba_podderzhki CASCADE;
CREATE TABLE sluzhba_podderzhki (
    id      SERIAL PRIMARY KEY,
    login   VARCHAR(50) NOT NULL UNIQUE,
    telefon phone_number NOT NULL UNIQUE
);

-- 28. ЗАПРОСЫ В ПОДДЕРЖКУ
DROP TABLE IF EXISTS zaprosi_podderzhki CASCADE;
CREATE TABLE zaprosi_podderzhki (
    id                    SERIAL PRIMARY KEY,
    sluzhba_podderzhki_id INTEGER REFERENCES sluzhba_podderzhki(id) ON DELETE SET NULL,
    bronirovaniye_id      INTEGER REFERENCES bronirovaniye(id)      ON DELETE SET NULL,
    kartochka_kvartiry_id INTEGER REFERENCES kartochka_kvartiry(id) ON DELETE SET NULL,
    polzovatel_id         INTEGER NOT NULL REFERENCES polzovatel(id) ON DELETE CASCADE,
    opisanie_problemy     TEXT NOT NULL,
    data_podachi          DATE NOT NULL DEFAULT CURRENT_DATE,
    data_resheniya        DATE,
    kommentarii           TEXT,
    CHECK (data_resheniya IS NULL OR data_resheniya >= data_podachi)
);

-- 29. АВАТАРЫ ПОЛЬЗОВАТЕЛЕЙ
DROP TABLE IF EXISTS avatary_polzovatelya CASCADE;
CREATE TABLE avatary_polzovatelya (
    polzovatel_id    INTEGER PRIMARY KEY REFERENCES polzovatel(id) ON DELETE CASCADE,
    url_avatar       VARCHAR(500),
    imya_faila       VARCHAR(200),
    data_obnovleniya TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- 30. ИЗБРАННОЕ
DROP TABLE IF EXISTS izbrannoe CASCADE;
CREATE TABLE izbrannoe (
    id                      SERIAL PRIMARY KEY,
    arendator_polzovatel_id INTEGER NOT NULL REFERENCES arendator(polzovatel_id) ON DELETE CASCADE,
    kartochka_kvartiry_id   INTEGER NOT NULL REFERENCES kartochka_kvartiry(id) ON DELETE CASCADE,
    data_dobavleniya        TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    UNIQUE (arendator_polzovatel_id, kartochka_kvartiry_id)
);